<!DOCTYPE html>

<head>
  <link rel="shortcut icon" href="http://emojipedia-us.s3.amazonaws.com/cache/d9/f8/d9f81897221cb472792f89c91c080c79.png" type="image/x-icon" />
  <title>Haylee Ham</title>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

<html>

<body>

<nav class="navbar navbar-default" style= "background-color:#6FB2C4">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="./">
        <img style="width:50px;" src="http://emojipedia-us.s3.amazonaws.com/cache/d9/f8/d9f81897221cb472792f89c91c080c79.png">
      </a>
    </div>
  </div>
</nav>

<div class="text-center">

	<h1> haylee.codes </h1>

</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4 text-center">
      <a href="./data">
        <img style="align:center;width:150px;" src="http://emojipedia-us.s3.amazonaws.com/cache/d9/f8/d9f81897221cb472792f89c91c080c79.png">
        <h4 class="text-info">Migration Trends Data</h4>
      </a>
    </div>

    <div class="col-lg-4 text-center">
      <a href="http://www.veryfuntweets.com">
        <img style="align:center;width:150px;" src="http://emojipedia-us.s3.amazonaws.com/cache/ab/77/ab7774e9818de3e23a307af6989b65b2.png">
        <h4 class="text-info">Very Fun Tweets</h4>
      </a>
    </div>

    <div class="col-lg-4 text-center">
      <a href="https://github.com/hayleefay">
        <img style="align:center;width:150px;" src="https://octodex.github.com/images/cherryontop-o-cat.jpg">
        <h4 class="text-info">GitHub</h4>
    </div>
  </div>
</div>


 </body>
 </html>
